*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
    background-color: cadetblue
}
header{
    width: 100%;
    display: flex;
    background: rgba(51, 70, 89, 0.795);

    text-align: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: white;
}
header section.Logo img{
    width: 124px;
    height: 99px;
}
header section.zap {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;


}

header section.zap img{
    width: 120px;
    height: 50px;
}
    header section.zap p.numero{
       font-weight: 600;
        text-shadow:  0 3px 1px black;
    }

main{
    background-image: url(img/recife.jpg);
    background-size: cover;
    background-position: 20% ;
    width:100%;
    height: 70vh;
   

    display: flex;
    justify-content: space-around;
    align-items: center;

}

main h1{
        text-shadow: 0 3px  1px rgb(0, 0, 0);
        padding-left: 3rem;
        color: rgb(255, 255, 255);
        padding-bottom: 2rem;
      
}
main div.input{
    background-color: #fafafa;
    margin-right: 10rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: .5rem;
    color: black;
    text-align: center;
    font-size: 25px;
    border-radius: .5rem;
    border: 1px solid black;

}

main div.input input{
    outline: none;
    padding: .5rem 0;
}

input.btn{
    background: rgb(230, 75, 4);
    font-size: large;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.5;
}

.btn:hover{
    opacity: 1;
    transition: 120ms ease-in; 
    border: 2.5px solid black;

}
footer{
    text-align: center;
    padding-top: 2rem;
    height: 15vh;
    width: 100%;
    background-color: cadetblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}